# Artifacts and temp folders
.artifacts/**
.tmp/**

# Engine + Secrets + databases
.env
.engine/**
.db/**

# Dependencies
modules/**
test-harness/coldbox/**
test-harness/docbox/**
test-harness/testbox/**
test-harness/logs/**
test-harness/modules/**

# log files
logs/**

# UI Build Process
includes/**
node_modules/**
