# Ide
.vscode

# build artifacts
.artifacts/**
.tmp/**

# Module Dependencies
modules/**

# Test harness dependencies
test-harness/.engine/**
test-harness/coldbox/**
test-harness/docbox/**
test-harness/testbox/**
test-harness/logs/**
test-harness/modules/**

# UI Build Process
includes/**
node_modules/**